* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

.container-header {
  background-color: #0c6a93;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
}

.logoNav {
  color: white;
  padding-left: 10px;
  font-size: 25px;
}

.logo {
  background-color: white;
  height: 30px;
  width: 124px;
  margin: 0 auto;
}

.hide-overflow {
  overflow: hidden;
}

.open-sidebar {
  overflow: hidden;
}
.open-sidebar .sideNav {
  margin-left: 0;
}
.open-sidebar .container-header {
  margin-left: 240px;
}
.open-sidebar .body-site {
  width: 100%;
  height: 100%;
  z-index: 1;
  margin-left: 240px;
  overflow: hidden;
}
.open-sidebar .body-site::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.sideNav {
  width: 240px;
  background-color: #0c6a93;
  position: absolute;
  margin-left: -240px;
  transition: all ease 0.25s;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow: auto;
}
.sideNav .topNavSide {
  display: flex;
  justify-content: space-between;
  height: 35px;
  align-items: center;
}
.sideNav .logoUser {
  color: white;
  padding-left: 10px;
}
.sideNav .logoNotification {
  color: white;
  padding-right: 10px;
}
.sideNav .spaceNav {
  height: 25px;
  background-color: #0c6a93;
}
.sideNav .boxItems {
  display: flex;
  flex-direction: column;
}
.sideNav .boxItems .item {
  color: white;
  background-color: #145374;
  font-family: sans-serif;
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-top: 1px solid #0c6a93;
  font-size: 13px;
  padding: 13px 0 13px 6px;
}
.sideNav .boxItems .spaceItem {
  padding-left: 15px;
}
.sideNav .container-options {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: sans-serif;
  font-size: 13px;
  justify-content: center;
  padding-top: 4px;
}
.sideNav .spaceOptions {
  margin: 0 5px;
}
.sideNav .socialMedia {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 14px;
  font-size: 22px;
}
.sideNav .socialMedia .spaceMedia {
  padding: 0 15px;
}
.sideNav .footerNavSide {
  height: 40px;
  background-color: white;
  height: 61px;
  border: solid 2px black;
  margin: 14px;
}
.sideNav .space-bottom {
  background-color: #0c6a93;
  height: 20px;
}

.optionsTop {
  height: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.optionsTop a {
  text-decoration: none;
  color: #0c6a93;
}

.container-imgs {
  display: flex;
  flex-wrap: wrap;
}

.container-img {
  border: 1px solid #acacac;
  width: 170px;
  height: 200px;
  margin: 3px;
  border-radius: 3px;
  background-color: #f0f1f1;
}
.container-img .box-img {
  background-color: grey;
  display: block;
  height: 130px;
  width: 100%;
  position: relative;
}
.container-img .star {
  position: absolute;
  top: 5px;
  right: 5px;
}
.container-img .HD {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: white;
  background-color: #0c6a93;
  text-align: center;
  width: 29px;
  padding-top: 2px;
  height: 14px;
  font-size: 10px;
}

.box-name {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.box-name .container-name {
  display: flex;
  justify-content: space-between;
  width: 155px;
}
.box-name .container-name .name {
  color: #0c6a93;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.box-name .container-name .iconPerson {
  display: flex;
  color: #3a3a3a;
}
.box-name .container-name .iconPerson .number {
  margin-right: 7px;
}
.box-name .line {
  height: 1px;
  background-color: #3a3a3a;
}
.box-name .description {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 30px;
  font-family: sans-serif;
  font-size: 11px;
  color: #3a3a3a;
}
.box-name .description-views {
  height: 14px;
  line-height: 14px;
  float: left;
  font-family: sans-serif;
  font-size: 10px;
  padding-left: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.banner-desktop {
  display: none;
}

.container-banner {
  display: none;
}

.container-optiones-dekstop {
  display: none;
}

.header-dekstop {
  display: none;
}

.nav-dekstop {
  display: none;
}

.hash-container {
  display: none;
}

@media (min-width: 992px) {
  .header-dekstop {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #006a71;
    flex-direction: row;
    padding: 6px;
  }
  .header-dekstop .logo-dekstop {
    max-width: 205px;
    height: 70px;
    width: 100%;
    border: 1px solid black;
    background-color: white;
  }
  .header-dekstop .banner {
    margin-left: 80px;
    flex-grow: 1;
    margin-top: 5px;
    width: 100%;
    max-width: 500px;
    border: 1px solid black;
    background-color: white;
  }
  .header-dekstop .state {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    border: solid 1px #0c6a93;
    border-radius: 3px;
    position: relative;
    box-sizing: border-box;
    width: auto;
    max-width: 243px;
    margin-top: 6px;
    background-color: #f0f1f1;
    height: 68px;
    width: 100%;
  }
  .header-dekstop .icon-state {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: #0c6a93;
    height: 22px;
    padding: 6px;
    align-items: center;
  }
  .header-dekstop .log-user {
    font-family: sans-serif;
    font-size: 9px;
    padding: 3px;
  }
  .header-dekstop .log-user .state-log {
    padding-top: 4px;
  }
  .header-dekstop .log-user .space {
    margin-left: 16;
  }
  .header-dekstop .log-user .tokens-box {
    padding-top: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header-dekstop .log-user .tokens-box .bold {
    font-weight: bold;
  }
  .header-dekstop .log-user .tokens-box .orange-font {
    color: orange;
    font-weight: bold;
  }

  .container-header {
    display: none;
  }

  .sideNav {
    display: none;
  }

  .nav-dekstop {
    height: 35px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
    padding: 0 0 0 32px;
    background: #0c6a93;
    border-bottom: 3px solid #f47321;
  }
  .nav-dekstop .items-nav {
    display: flex;
    flex-direction: row;
  }
  .nav-dekstop .items-nav .item-nav {
    text-shadow: 1px 1px 0 #000;
    padding: 6px 0 0;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 13px;
  }
  .nav-dekstop .items-nav .item-nav {
    margin: 5px;
  }
  .nav-dekstop .items-nav .item-nav a {
    text-decoration: none;
    color: white;
  }

  .register {
    background-color: #f47321;
    margin-right: 6px;
    color: white;
    width: 200px;
    text-align: center;
    padding-top: 4px;
    font-size: 21px;
    border-radius: 4px 4px 0 0;
  }

  .optionsTop {
    display: none;
  }

  .hash-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 16px;
    text-align: left;
    margin-left: 35px;
  }
  .hash-container .hash-item {
    font-family: Arial, Helvetica, sans-serif;
    color: #0c6a93;
    font-size: 12px;
    padding-right: 12px;
  }
  .hash-container .hash-item:first-child {
    margin-left: 0;
  }

  .container-optiones-dekstop {
    padding-left: 35px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 10px;
    border-bottom: 1px solid #0c6a93;
    margin-bottom: 10px;
  }
  .container-optiones-dekstop .option-desktop-right {
    display: flex;
    justify-self: flex-end;
    flex-grow: 1;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    font-weight: 600;
    color: #0a5a83;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
  }
  .container-optiones-dekstop .option-dekstop {
    height: 25px;
    background: #dde9f5;
    margin: 0 4px 0 0;
    padding: 5px;
    border: 1px solid #8bb3da;
    font-size: 14px;
    border-radius: 4px 4px 0 0;
  }
  .container-optiones-dekstop .option-dekstop.active {
    text-decoration: none;
    background: #fff;
    border-bottom: none;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid #fff;
  }
  .container-optiones-dekstop .option-dekstop.active a {
    color: #dc5500;
  }
  .container-optiones-dekstop .option-dekstop a {
    color: #5e81a4;
  }

  .grid-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }

  .container-imgs {
    margin-left: 30px;
    margin-right: 115px;
  }

  .banner-desktop {
    max-height: 630px;
    width: 100%;
    max-width: 186px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  .banner-desktop .dismiss-banner {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #f47321;
    font-family: sans-serif;
    padding: 5px 10px;
  }
  .banner-desktop .banner-content {
    margin: 11px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: white;
    border: 5px solid black;
  }
}

/*# sourceMappingURL=style.css.map */
