  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$colorIcon: white;
$color-background-page: #0c6a93;
$color-boxItems-navSide: #145374;
$color-font: white;
$font-page : monospace;


.container-header{
    background-color: $color-background-page;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
}
.logoNav{
    color: $colorIcon;
    padding-left: 10px;
    font-size: 25px;
}
.logo{
    background-color: white;
    width: 60px;
    height: 30px;
    margin: 0 auto;
}

.open-sidebar {
    .sideNav {
        margin-left: 0;
    }
    .body-site {
        margin-left: 240px;
    }
}

.sideNav{
    width: 240px;
    background-color: $color-background-page;
    position: absolute;
    margin-left: -240px;
    transition: all ease 0.25s;
    top: 0px;
    .topNavSide{
        display: flex;
        justify-content: space-between;
        height: 35px;
        align-items: center;
    }
    .logoUser{
        color: $colorIcon;
        padding-left: 10px;
    }
    .logoNotification{
    color: $colorIcon;
    padding-right: 10px;
    }
    .spaceNav{
        height: 25px;
        background-color: $color-background-page;
    }
    .boxItems{
        display: flex;
        flex-direction: column;

        .item{
            color: $color-font;
            background-color: $color-boxItems-navSide;
            font-family: $font-page;
            color: white;
            border-bottom: 1px solid rgba(0,0,0,0.5);
            border-top: 1px solid $color-background-page;
            font-size: 13px;
            padding: 13px 0 13px 6px;
        }
        .spaceItem{
            padding-left: 15px
        }
    }
    .container-options{
        display: flex;
        flex-direction: row;
        color: white;
        font-family: $font-page;
        font-size: 13px;
        justify-content:center;
        padding-top:4px;

    }
    .spaceOptions{
        margin: 0 5px;
    }
    .socialMedia{
        color: $colorIcon;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top:14px;
        font-size: 22px;
        .spaceMedia{
            padding: 0 15px;
        }
    }
    .footerNavSide{
        height: 40px;
        background-color: white;
        height: 61px;
        border: solid 2px black;
        margin: 14px;
    }
    .space-bottom{
        background-color: $color-background-page;
        height: 20px;
    }
}
.optionsTop{
    height: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a{
        text-decoration: none;
        color: $color-background-page;
    }
}

.container-imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-img{
    
    border: 1px solid #acacac;
    width: 170px;
    height: 200px;
    margin: 3px;
    border-radius: 3px;
    background-color: rgb(240, 241, 241);
    
        
        .box-img{
            background-color: grey;
            display: block;
            height: 130px;
            width: 170px;
            position: relative;
        }
        .star{
            position: absolute;
            top: 5px;
            right: 5px;
        }
        .HD{
            position: absolute;
            right: 5px;
            bottom: 5px;
            color: white;
            background-color: $color-background-page;
            text-align: center;
            width: 29px;
            padding-top: 2px;
            height: 14px;
            font-size: 10px;
        }
}
.box-name{
    display: flex;
    flex-direction: column;
    padding: 5px;

    .container-name{
        display: flex;
        justify-content: space-between;
        .name{
            color: $color-background-page;
            font-family: sans-serif;
            font-weight: 700;
            font-size: 14px;
        }
        .iconPerson{
            display: flex;
            color: #3a3a3a;
            .number{
                margin-right: 7px;
            }
        }
    }
    .line{
        height: 1px;
        background-color:#3a3a3a;
    }
    .description{
        text-overflow: ellipsis;
        overflow: hidden;
        height: 30px;
        font-family: sans-serif;
        font-size: 11px;
        color: #3a3a3a;
    }
    .description-views{
        height: 14px;
        line-height: 14px;
        float: left;
        font-family:sans-serif;
        font-size: 10px;
        padding-left: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
}
