
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	color: white;
	text-decoration: none;
}
$colorIcon: white;
$color-background-page: #0c6a93;
$color-boxItems-navSide: #145374;
$color-font: white;
$font-page : sans-serif;


.container-header{
	background-color: $color-background-page;
	width: 100%;
	height: 35px;
	display: flex;
	align-items: center;
}
.logoNav{
	color: $colorIcon;
	padding-left: 10px;
	font-size: 25px;
}
.logo{
	background-color: white;
	height: 30px;
    width: 124px;
	margin: 0 auto;
	
}
.hide-overflow {
	overflow: hidden;
}

.open-sidebar {
	overflow: hidden;
	.sideNav {
		margin-left: 0;
		
	}
	.container-header {
		margin-left: 240px;
	}
	.body-site {
		width: 100%;
		height: 100%;
		z-index: 1;
		margin-left: 240px;
		overflow: hidden;
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.8);
		}
		
		
		

	}
}

.sideNav{
	width: 240px;
	background-color: $color-background-page;
	position: absolute;
	margin-left: -240px;
	transition: all ease 0.25s;
	height: 100%;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow: auto;
	
	.topNavSide{
		display: flex;
		justify-content: space-between;
		height: 35px;
		align-items: center;
	}
	.logoUser{
		color: $colorIcon;
		padding-left: 10px;
	}
	.logoNotification{
		color: $colorIcon;
		padding-right: 10px;
	}
	.spaceNav{
		height: 25px;
		background-color: $color-background-page;
	}
	.boxItems{
		display: flex;
		flex-direction: column;
		
		.item{
			color: $color-font;
			background-color: $color-boxItems-navSide;
			font-family: $font-page;
			color: white;
			border-bottom: 1px solid rgba(0,0,0,0.5);
			border-top: 1px solid $color-background-page;
			font-size: 13px;
			padding: 13px 0 13px 6px;
		}
		.spaceItem{
			padding-left: 15px
		}
	}
	.container-options{
		display: flex;
		flex-direction: row;
		color: white;
		font-family: $font-page;
		font-size: 13px;
		justify-content:center;
		padding-top:4px;
		
	}
	.spaceOptions{
		margin: 0 5px;
	}
	.socialMedia{
		color: $colorIcon;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding-top:14px;
		font-size: 22px;
		.spaceMedia{
			padding: 0 15px;
		}
	}
	.footerNavSide{
		height: 40px;
		background-color: white;
		height: 61px;
		border: solid 2px black;
		margin: 14px;
	}
	.space-bottom{
		background-color: $color-background-page;
		height: 20px;
	}
}
.optionsTop{
	height: 25px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	a{
		text-decoration: none;
		color: $color-background-page;
	}
}

.container-imgs{
	display: flex;
	flex-wrap: wrap;
}
.container-img{
	
	border: 1px solid #acacac;
	width: 170px;
	height: 200px;
	margin: 3px;
	border-radius: 3px;
	background-color: rgb(240, 241, 241);
	
	
	.box-img{
		background-color: grey;
		display: block;
		height: 130px;
		width: 100%;
		position: relative;
	}
	.star{
		position: absolute;
		top: 5px;
		right: 5px;
	}
	.HD{
		position: absolute;
		right: 5px;
		bottom: 5px;
		color: white;
		background-color: $color-background-page;
		text-align: center;
		width: 29px;
		padding-top: 2px;
		height: 14px;
		font-size: 10px;
	}
}
.box-name{
	display: flex;
	flex-direction: column;
	padding: 5px;
	
	.container-name{
		display: flex;
		justify-content: space-between;
		width: 155px;
		.name{
			color: $color-background-page;
			font-family: sans-serif;
			font-weight: 700;
			font-size: 14px;
		}
		.iconPerson{
			display: flex;
			color: #3a3a3a;
			.number{
				margin-right: 7px;
			}
		}
	}
	.line{
		height: 1px;
		background-color:#3a3a3a;
	}
	.description{
		text-overflow: ellipsis;
		overflow: hidden;
		height: 30px;
		font-family: sans-serif;
		font-size: 11px;
		color: #3a3a3a;
	}
	.description-views{
		height: 14px;
		line-height: 14px;
		float: left;
		font-family:sans-serif;
		font-size: 10px;
		padding-left: 5px;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	
}
.banner-desktop{
	display: none;
}
.container-banner{
	display:none;
}
.container-optiones-dekstop{
	display: none;
}
.header-dekstop{
	display: none;
	
}
.nav-dekstop{
	display: none;
}
.hash-container{
	display: none;
}
@media (min-width: 992px){

	
	.header-dekstop{
		display: flex;
		height: 80px;
		width: 100%;
		background-color: #f3ecc2;
		flex-direction: row;
		padding: 6px;
		
		.logo-dekstop{
			max-width: 205px;
			height: 70px;
			width: 100%;
			border: 1px solid black;
			background-color: white;
		}
		
		.banner{
			margin-left: 80px;
			flex-grow: 1;
			margin-top: 5px;
			width: 100%;
			max-width: 500px;
			border: 1px solid black;
			background-color: white;
	
		}
		
		.state{
			margin-left: auto;
			display: flex;
			flex-direction: column;
			border: solid 1px #0c6a93;
			border-radius: 3px;
			position: relative;
			box-sizing: border-box;
			width: auto;
			max-width: 243px;
			margin-top: 6px;
			background-color: #f0f1f1;
			height: 68px;
			width: 100%;
		}    
		
		.icon-state{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			color: $colorIcon;
			background-color: $color-background-page;
			height: 22px;
			padding: 6px;
			align-items: center;
		}
		
		.log-user{
			font-family: sans-serif;
			font-size: 9px;
			padding: 3px;
			
			.state-log{
				padding-top: 4px;
				
			}
			
			.space{
				margin-left: 16;
				
			}
			.tokens-box{
				padding-top: 6px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				
				.bold{
					font-weight: bold;
				}
				.orange-font{
					color: orange;
					font-weight: bold;
				}
			}
			
		}
	}
	
	.container-header{
		display: none;
	}
	.sideNav{
		display: none;
	}
	.nav-dekstop{
		height: 35px;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		overflow: hidden;
		padding: 0 0 0 32px;
		background: #0c6a93;
		border-bottom: 3px solid #f47321;
		
		.items-nav{
			display: flex;
			flex-direction: row;
			
			.item-nav {
				text-shadow: 1px 1px 0 #000;
				padding: 6px 0 0;
				color: white;
				font-family: sans-serif;
				text-align: center;
				font-size: 13px;

			}
			
			
			.item-nav{
				margin:5px;
				a{
					text-decoration: none;
					color: white;
				}
			}
		}
	}
	.register{
		background-color:  #f47321;
		margin-right: 6px;
		color: white;
		width: 200px;
		text-align: center;
		padding-top: 4px;
		font-size: 21px;
		border-radius: 4px 4px 0 0;
	}
	.optionsTop{
		display: none;
	}
	.hash-container {
		display: flex;
		align-items: center;
		overflow: hidden;
    	height: 16px;
		text-align: left;
		margin-left: 35px;
	
		.hash-item {
			font-family: Arial, Helvetica, sans-serif;
			color: #0c6a93;
			font-size: 12px;
    		padding-right: 12px;

			&:first-child {
				margin-left: 0;
			}

		}
	}
	.container-optiones-dekstop{
		padding-left: 35px;
		display: flex;
		flex-direction: row;
		position: relative;
		margin-top: 10px;
		border-bottom: 1px solid $color-background-page;
		margin-bottom: 10px;

		.option-desktop-right {
			display: flex;
			justify-self: flex-end;
			flex-grow: 1;
			font-size: 11px;
			font-family: Arial, Helvetica, sans-serif;
			text-align: right;
			font-weight: 600;
			color: #0a5a83;
			justify-content: flex-end;
			align-items: center;
			margin-right: 30px;
		}
		
		.option-dekstop{
			height: 25px;
			
			background: #dde9f5;
			margin: 0 4px 0 0;
			padding: 5px;
			border: 1px solid #8bb3da;
			font-size: 14px;
			border-radius: 4px 4px 0 0;
			
			&.active {
				text-decoration: none;
				background: #fff;
				border-bottom: none;
				position: relative;
				z-index: 2;
				border-bottom: 1px solid #fff;
				a {
					color: #dc5500;
				}
				
			}
			a {
				color: #5e81a4;
			}
			
		}
		
	}
	.grid-wrapper {
		display: flex;
		justify-content: space-between;
		margin-top: 8px;
	}
	.container-imgs{
			margin-left: 30px;
			margin-right: 115px;
	}
	
	.banner-desktop {
		max-height: 630px;
		width: 100%;
		max-width:  186px;
    	text-align: center;
		background: rgba(0,0,0,0.2);
		display: flex;
    	flex-direction: column;
		margin-right: 10px;
		.dismiss-banner {
			text-transform: uppercase;
			font-size: 14px;
			font-weight: bold;
			color: white;
			background-color: #f47321;
			font-family: sans-serif;
			padding: 5px 10px;
		}
		.banner-content {
    		margin: 11px;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			background: white;
			border: 5px solid black;
		
		}
	}
}